@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');*/
@font-face {
    font-family: 'Android';
    src: url('../pacote-projeto-d10/pacote-projeto-d010/fontes/idroid.otf') format('opentype'); /*um ponto=pasta atual / pontoponto = pasta anterior*/
    font-weight: normal;
}

@font-face {
    font-family: 'bebasneue';
    src:url('../pacote-projeto-d10/pacote-projeto-d010/fontes/bebasneue.ttf') format('truetype');
     }

/*pode colocar aqui em cima fontes,cores, tudo que for usar*/

/*falou também de variáveis*/
:root { /*pseudo class*/
    --cordefundo:#c5ebd6; /*toda variável começa com --*/
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "bebasneue", sans-serif;
    --fonte-android:'Android', cursive;
    }
    /* regra para configurar todos os elementos*/
    * { 
    margin: 0px;
    padding: 0px;
    } 
body{
    background-color: var(--cordefundo);
    font-family: var(--fonte-padrao);
}
a.externo::after {
    content: '\00a0\1F517'; /*Código do emojipedia.org*/

}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    color: white;
    /*margin: 50px 0px;
    height: 100px; */
    background-color: #063d1e;
    min-height: 200px;
    text-align: center;
    padding-top: 20px;
   
}
header > h1 {
        font-family: Fredericka the Great;
        font-size: 5em;
        margin-top: 20px;
        text-shadow: -9px 4px 3px rgba(0, 0, 0, 0.425);
        font-weight: lighter; 
        font-variant: small-caps;
}
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-align: center;
    max-width: 600px;
    /*padding-left: 10px;
    padding-right: 10px;*/
    margin: auto;
    /*padding-bottom: 50px; */
    text-shadow: -7px 11px 3px rgba(0, 0, 0, 0.521);
    display:block
}
legend {
    font-family: var(--fonte-android);
    font-variant: small-caps;
    font-weight: normal;
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
   }

main {
    min-width: 400px;
    max-width: 1100px;
    background-color: white;
    margin: auto;
   /* margin-bottom: 30px;*/
    padding: 20px;
    box-shadow: 0px 7px 18px 9px black;
    border-radius: 0px 0px 10px 10px;
}
main p {
    text-indent: 1.5em;
    text-align: justify;
    margin: 15px 0px;
    line-height: 1.5em; /*espaçamentos entre linhas*/
}
main strong{
    color: var(--cor3);
    font-weight: bold;
    /* background-color: var(--cor4);
    padding: 3px 6px;*/
}

main h1 {
        color: var(--cor5);
        font-weight: normal;
        font-size: 1.8em;
        font-family: var(--fonte-android);
        border-radius: 0px 0px 0px 5px;
        background-image: linear-gradient(to right, var(--cor2), transparent);
}
iframe#tela{
   position: relative;
    min-width: 400px;
    max-width: 1500px;
    height: 400px;
    border: 1px solid black;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 20px 0px;
    box-shadow: -7px 8px 8px rgba(0, 128, 0, 0.438);
}
aside>h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 20px 0px 0px 0px;
}
aside>ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0'; /*NÃO É COMPATÍVEL COM TODO NAVEGADOR*/
}
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

div#filhos{
   /* padding-top: 200px;*/
    margin: auto;
    text-align: center;
    
}
div#filhos a {
    padding: 10px;
}

/*
iframe#tela{
    position: relative;
    top: 48px;
    left: 7px;
    width: 196px;
    height: 340px;
}*/
div#filhos img {
    display: inline;
   width: 130px;
   height: 130px;
   /* margin: 200px;*/
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
    margin: auto;
    
  }
  div#filhos img:hover {
    border: 2px solid rgba(0, 0, 0, 0.53);
    transform: translate(-4px, -4px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.544);
    transition: transform .3s, border 1s;
  }