@charset "UTF-8";
@font-face {
    font-family: 'Newsreader';
    src:url('../fontes/Newsreader-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
} 
@font-face {
    font-family: 'Arizonia';
    src:url('../fontes/Arizonia-Regular.ttf') format('truetype');
} 
@font-face {
    font-family: 'Amita';
    src:url('../fontes/Amita-Regular.ttf') format('truetype');
} 
body h1 {
    text-align: center;
    background-color: rgba(49, 167, 137, 0.466);
    border-radius: 10px 0px;
    box-shadow: 2px 2px 7px black;
    font-family: Arizonia;
    font-size: 3em;
    
}
hr {
    border: 1px;
    border-top: 2px solid #000; /* Cor e espessura da linha */
    margin: 20px;
}

body{
    /*background: url("Imagens/foto-familia.jpeg") no-repeat fixed top; */
    background-size: cover;
    margin-top: 0px;
    height: 70vh;
}
main#descrição{
    background-color: rgba(49, 167, 137, 0.466);
    border-radius: 10px 10px 0px 0px;
    text-shadow: -4px 5px 20px #1a1c1c;
    height: auto;
    box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.301);
}
main#descrição>ul{
    font-size: 0.7em;
    margin: 0%;
    padding: 1%;
    list-style-position: inside;
    text-shadow: -8px 10px 10px #959898;
    font-family: Amita;
    list-style-type: '\2714\00A0\00A0';
}
main#fotos{
    background-color: rgba(49, 167, 137, 0.466); 
    box-shadow: -8px -8px 8px rgba(0, 0, 0, 0.39);
    margin-top: 0.5em;
}
section#esposa-o h2{
    text-align: center;
    font-family: Amita;
}
section#esposa-o img{
    width: 35vw;
    box-shadow: -2px -2px 8px black;
    border-radius: 25%;
    display: block;   
    margin:auto;
}
main#cidade {
         background-color: rgba(49, 167, 138, 0.466);
         border-radius: 0px 0px 10px 10px;
         box-shadow: -5px 3px 8px rgba(0, 0, 0, 0.575);
         height: auto;
         margin-top: 0.5em;
         font-family: Amita;
         font-size: 0.8em;
}