@charset "UTF-8";

body {
    background-color: blanchedalmond;
    text-align: center;
    font-variant: small-caps;
    
}
hr {
    border: 1px;
    border-top: 2px solid #000; /* Cor e espessura da linha */
    margin: 20px;
}
